:root {
  font-size: 62.5%;
  --color-1: black;
  --color-2: lightskyblue;
  --color-3: lightgreen;
  --color-5: rgb(189, 138, 189);
  --color-6: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  background-color: var(--color-6);
}

h1 {
  padding: 2rem;
}

img {
  width: 100%;
}

.container {
  display: grid;
  padding: 2rem;

  /* method-1 */
  /* grid-template-columns: repeat(auto-fit, minmax(100%, auto));
    grid-template-columns: repeat(3, 1fr); */

  /* method-2 */
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 2rem;
}

/* .container {
  display: grid;
  padding: 2rem;
  grid-template-columns: minmax(150px, 300px) 1fr minmax(150px, 300px);
  gap: 2rem 2rem;
}
 */
